/* ======================================
    Header Styles
   ====================================== */

   .company,
   .filter {
     @include center;
     text-align: center;

     @include mq("med") {
       margin: 0.5em;
       text-align: left;
     }
   }


   .filter {
     // background-color: $background-color;
     // border-bottom: $border-line;
     display: flex;
     flex-direction: row;
     padding: 0.75em;

     @include mq("xs") {
       width: 90%;
     }

     @include mq("sm") {
       width: 90%;
     }

     @include mq("med") {
       width: 40%;
     }
   }

   #filter {
     grid-area: search;
     border: $border-line;
     border-radius: 5px;
     font-size: 1.25em;
     padding: 0.5em;
     width: 100%;

     &:hover {
       border-color: $color-secondary;
     }

     &:focus,
     &:active {
       border-color: $color-primary;
     }
   }
