/* ======================================
    Grid Styles
   ====================================== */
.container {
  background-color: $color-primary;
  min-height: 100vh;
}

.grid {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "directory";
  @include center;
  width: 94vw;

}


.header {
  grid-area: header;
}

.directory {
  grid-area: directory;
  padding: 1rem;
  max-width: 100vw;

  @include flexbox($dir:column);
  align-items: center;

  @include mq ('med') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
